name: nodejs tb autosign
 
on: 
  push:
  gollum: 
  schedule: 
      - cron: '0 11,21 * * *'
 
jobs:
  one:
 
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    # 使用 node:10
    - name: use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    # npm install
    - name: npm install and do sign
      env:
        BDUSS: ${{ secrets.password }}
      run: |
        npm install
        node app.js
